*{
  margin: 0;
  padding: 0;
  font-family: Times New Roman;
}
.since-when{
  width: 100%;
  height: 100vh;
  background: #F5F5D1;
  align-items: center;
  justify-content: center;
  display: flex;
}
.since-when img{
  width: 350px;
  height: 500px;
  border-radius: 50px;
}
.text{
  width: 550px;
}
.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text h1{
  font-size: 50px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.text p{
  font-size: 20px;
  margin-left: 15px;
}
.button{
  border-radius: 50px;
  background: transparent;
  color: black;
  border-style: solid;
  padding: 8px;
  width: 100px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
}
.button:hover{
  background: white;
}
.button p a{
  text-decoration: none;
  color: #000;
}
